{% load staticfiles %}

<!DOCTYPE html>
<html lang ="es">
<link rel="stylesheet" href="{% static 'predicterapp/style.css' %}">


	<footer class="clasfooter">
	<a class="afooter">Realizado por: Santiago Fraga</a>
	<a class="afooter">Informacion de contacto: <a href="sanframar@alum.us.es">sanframar@alum.us.es</a>.</a><br/>
	<a class="afooter">Esta aplicacion ha sido realizada para la asignatura "Trabajo Fin de Grado" de la titulacion "Ingenieria del Software" de la Universidad de Sevilla</a>
	<a class="afooter">Copyright &copy; 2018-2019</a>
	</footer>


</html>